# Archivos de Reporte y Resultados
/test-results/
/playwright-report/
/playwright/.cache/
/reports
# Dependencias
/node_modules/

# Archivos de Configuración Local
.env
sessionCookies.json
sessionLocalStorage.json
storageState.json
secrets/
